.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5rem;

	height: 100vh;
}

.userInput {
	margin-bottom: 2rem;
}

.aiResponse {
  font-size: 12px;
	font-family: 'Lucida Console', 'Courier New', monospace;
}
